packages: [
  "atom-beautify"
  "autoclose-html"
  "color-picker"
  "double-tag"
  "emmet"
  "highlight-selected"
  "jekyll"
  "language-gfm2"
  "language-liquid"
  "linter"
  "markdown-writer"
  "minimap"
  "minimap-cursorline"
  "package-sync"
  "pigments"
  "seti-ui"
  "wakatime"
]
